day1/dist
day1/elm-stuff
day1/node_modules
day2/dist
Main.elmi
day2/elm-stuff
day2/node_modules
day3/dist
day3/elm-stuff/0.19.0
day3/elm-stuff
day3/node_modules
day4/dist
day4/elm-stuff
day4/node_modules
day5/dist
day5/elm-stuff
day5/node_modules
day6/dist
day6/elm-stuff
day6/node_modules
day7/elm-stuff
day7/node_modules
